{% extends 'partials/base.html.twig' %}

{% block background %}
<div class="fixed z-0 w-100 h-100" style="background: url({{ page.media.images[page.header.background_image].url }}) no-repeat center center fixed; background-size: cover;"></div>
{% endblock %}

{% block body %}
<article>
  <div class="cf pa3 pa4-m pa6-l">
    <div class="mt6 fl pa3 pa4-ns bg-white-80 black-70 measure-narrow f3">
      <header class="bb b--black-70 pv4">
        <h3 class="f1 fw7 ttu tracked lh-title mt0 mb3">{{ page.title }}</h3>
        <h4 class="f2 fw4 lh-title mt0">{{ page.header.subtitle }}</h4>
      </header>
      <section class="pt5 pb4 lh-copy measure f4 mt0 event-info">
        <div>
        	{{ page.content }}
        </div>
      </section>
      {% include 'partials/atoms/button.html.twig' with {'button': {
        'text': 'Get tickets now',
        'url': 'https://ti.to/sensorium2017/sensorium2017',
        'newTab': true,
        'classes': 'bg-purple light-green hover-light-green f4 link grow ba bw1 ph3 pv2 mb2 dib'
      }} %}
    </div>
  </div>
</article>
{% endblock %}
