{% extends 'partials/base.html.twig' %}

{% block body %}
<article data-name="article-full-bleed-background">
  <div class="cf pa3 pa4-m pa6-l" style="background: url({{ page.media.images|first.url }}) no-repeat center center fixed; background-size: cover;">
    <div class="mt6 fl pa3 pa4-ns bg-white-80 black-70 measure-narrow f3">
      <header class="bb b--black-70 pv4">
        <h3 class="f2 fw7 ttu tracked lh-title mt0 mb3 avenir">{{ page.title }}</h3>
        <h4 class="f3 fw4 i lh-title mt0">{{ page.header.subtitle }}</h4>
      </header>
      <section class="pt5 pb4 lh-copy measure f4 mt0">
      	{{ page.content }}
        {% include 'partials/atoms/button.html.twig' with {'button': {
          'text': 'Get tickets now',
          'url': 'https://ti.to/sensorium2017/sensorium2017',
          'newTab': true,
          'classes': 'bg-purple light-green hover-light-green f4 link grow ba bw1 ph3 pv2 mb2 dib'
        }} %}
      </section>
    </div>
  </div>
</article>
{% endblock %}
