#header #logo img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.default-animation, #body, #header #logo img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.padding-horiz, #body {
  padding-left: 7rem;
  padding-right: 7rem; }
  @media only all and (max-width: 59.938em) {
    .padding-horiz, #body {
      padding-left: 4rem;
      padding-right: 4rem; } }
  @media only all and (max-width: 47.938em) {
    .padding-horiz, #body {
      padding-left: 1rem;
      padding-right: 1rem; } }

.padding-vert {
  padding-top: 3rem;
  padding-bottom: 3rem; }

html, body {
  height: 100%; }

body {
  background: black;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: #A463F2; }
  a:hover {
    color: #bf92f6; }

#container {
  min-height: 100%;
  position: relative; }

.fullwidth #body {
  padding-left: 0;
  padding-right: 0; }

#body {
  background: none;
  padding-top: 5rem;
  padding-bottom: 11rem; }

.left {
  float: left; }

.right {
  float: right; }

.blog-header {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .blog-header.blog-header-image {
    background-size: cover;
    background-position: center; }
    .blog-header.blog-header-image h1, .blog-header.blog-header-image h2 {
      color: #FFFFFF; }
  .blog-header h1 {
    font-size: 4rem;
    margin-top: 0; }
    @media only all and (min-width: 48em) and (max-width: 59.938em) {
      .blog-header h1 {
        font-size: 3rem; } }
    @media only all and (max-width: 47.938em) {
      .blog-header h1 {
        font-size: 2.5rem;
        line-height: 1.2;
        margin-bottom: 2.5rem; } }
  .blog-header + .blog-content {
    padding-top: 3rem; }

.list-item {
  border-bottom: 1px solid #FBD2CE;
  margin-bottom: 3rem; }
  .list-item:last-child {
    border-bottom: 0; }
  .list-item .list-blog-header {
    position: relative; }
    .list-item .list-blog-header h4 {
      margin-bottom: 0.5rem; }
      .list-item .list-blog-header h4 a {
        color: white; }
        .list-item .list-blog-header h4 a:hover {
          color: #A463F2; }
    .list-item .list-blog-header img {
      display: block;
      margin-top: 1rem;
      border-radius: 3px; }
  .list-item .list-blog-date {
    float: right;
    text-align: center; }
    .list-item .list-blog-date span {
      display: block;
      font-size: 1.75rem;
      font-weight: 600;
      line-height: 110%; }
    .list-item .list-blog-date em {
      display: block;
      border-top: 1px solid #FBD2CE;
      font-style: normal;
      text-transform: uppercase; }

.blog-content-item .list-blog-padding > p:nth-child(2) {
  font-size: 1.2rem; }

.tags a {
  display: inline-block;
  font-size: 0.8rem;
  border: 1px solid #A463F2;
  border-radius: 3px;
  padding: 0.1rem 0.4rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase; }

.archives, .related-pages {
  padding: 0;
  list-style: none; }
  .archives li, .related-pages li {
    border-bottom: 1px solid #FBD2CE;
    line-height: 2rem; }
    .archives li:last-child, .related-pages li:last-child {
      border-bottom: 0; }

.related-pages li a {
  display: block; }
.related-pages .score {
  display: block;
  float: right;
  color: #999;
  font-size: 85%; }

.syndicate a {
  margin-bottom: 1rem; }

div#breadcrumbs {
  padding-left: 0; }
  @media only all and (max-width: 47.938em) {
    div#breadcrumbs {
      display: none; } }

#sidebar {
  padding-left: 3rem; }
  @media only all and (max-width: 47.938em) {
    #sidebar {
      padding-left: 0; } }
  #sidebar .sidebar-content {
    margin-bottom: 3rem; }
    #sidebar .sidebar-content h4 {
      margin-bottom: 1rem; }
    #sidebar .sidebar-content p, #sidebar .sidebar-content ul {
      margin-top: 1rem; }

ul.pagination {
  margin: 0 0 3rem;
  text-align: center; }

.prev-next {
  margin-top: 5rem;
  text-align: center; }

.tilter {
  display: block;
  position: relative;
  width: 300px;
  height: 415px;
  margin: 1.5em 2.5em;
  color: #fff;
  flex: none;
  perspective: 1000px; }
  @media only all and (max-width: 47.938em) {
    .tilter {
      width: 250px;
      height: 350px; } }
  .tilter img::before {
    display: none; }

.tilter * {
  pointer-events: none; }

.tilter:hover,
.tilter:focus {
  color: #fff;
  outline: none; }

/*
.tilter__figure,
.tilter__deco,
.tilter__caption {
	will-change: transform;
}*/
.tilter__figure,
.tilter__image {
  margin: 0;
  width: 100%;
  height: 100%;
  display: block; }

.tilter__figure > * {
  transform: translateZ(0px);
  /* Force correct stacking order */ }

.smooth .tilter__figure,
.smooth .tilter__deco--overlay,
.smooth .tilter__deco--lines,
.smooth .tilter__deco--shine div,
.smooth .tilter__caption {
  transition: transform 0.2s ease-out; }

.tilter__figure {
  position: relative; }

.tilter__figure::before {
  content: '';
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  box-shadow: 0 30px 20px rgba(35, 32, 39, 0.5); }

.tilter__deco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; }

.tilter__deco--overlay {
  background-image: linear-gradient(45deg, rgba(226, 60, 99, 0.4), rgba(145, 58, 252, 0.4), rgba(16, 11, 192, 0.4)); }

.tilter__deco--shine div {
  position: absolute;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%); }

.tilter__deco--lines {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px; }

.tilter__caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 4em; }

.tilter__title {
  margin: 0;
  font-weight: normal;
  font-size: 2.5em;
  line-height: 1; }

.tilter__description {
  margin: 1em 0 0 0;
  font-size: 0.85em;
  letter-spacing: 0.15em; }

/* Individual styles */
/* Example 1 (Default) */
.tilter--1 .tilter__figure::before {
  box-shadow: 0 30px 20px rgba(0, 0, 0, 0.5); }

/* Example 2 (thicker lines, overlay) */
.tilter--2,
.tilter--2:hover,
.tilter--2:focus {
  color: #2e27ad; }

.tilter--2 .tilter__deco--overlay {
  background-image: linear-gradient(45deg, rgba(245, 239, 40, 0.6), rgba(164, 22, 169, 0.6)); }

.tilter--2 .tilter__deco--lines {
  stroke: #2e27ad;
  stroke-width: 4px; }

/* Example 3 (no lines, overlay hard-light) */
.tilter--3 .tilter__deco--overlay {
  background-image: linear-gradient(45deg, rgba(205, 81, 220, 0.6), rgba(41, 94, 230, 0.5)); }

.tilter--3 .tilter__caption {
  padding: 2em;
  text-align: right;
  text-shadow: 0.1em 0.8em 1em rgba(0, 0, 0, 0.35); }

/* Example 4 (caption sliding in) */
.tilter--4 .tilter__deco--overlay {
  background-image: linear-gradient(20deg, #d66428, rgba(46, 39, 173, 0.58), rgba(53, 74, 165, 0.6)); }

@media screen and (min-width: 30em) {
  .tilter--4 .tilter__deco--lines {
    transform: scale3d(0.8, 0.8, 1);
    transition: transform 0.4s; }

  .tilter--4:hover .tilter__deco--lines {
    transform: scale3d(1, 1, 1); }

  .tilter--4 .tilter__title,
  .tilter--4 .tilter__description {
    transform: translate3d(0, 80px, 0);
    opacity: 0;
    transition: transform 0.4s, opacity 0.4s; }

  .tilter--4:hover .tilter__description {
    transition-delay: 0.1s; }

  .tilter--4:hover .tilter__title,
  .tilter--4:hover .tilter__description {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }
/* Example 5 (line animating) */
.tilter--5 .tilter__deco--lines path {
  stroke-dasharray: 1270;
  stroke-dashoffset: 1270;
  transition: stroke-dashoffset 0.7s; }

.tilter--5:hover .tilter__deco--lines path {
  stroke-dashoffset: 0; }

.tilter--5 .tilter__figure::before {
  box-shadow: none; }

/* Example 6 (different line position) */
.tilter--6,
.tilter--6:hover,
.tilter--6:focus {
  color: #003d46; }

.tilter--6 .tilter__deco--overlay {
  background-image: linear-gradient(45deg, rgba(251, 210, 206, 0.8), rgba(172, 22, 0, 0.5)); }

.tilter--6 .tilter__deco--lines {
  stroke: #003d46;
  stroke-width: 6px;
  top: -50px;
  left: -50px; }

.tilter--6 .tilter__caption {
  padding: 0 4em 5.5em 1em;
  text-align: left; }
  .tilter--6 .tilter__caption .tilter__description {
    font-weight: 800;
    font-size: 1em; }

.tilter--6 .tilter__figure::before {
  box-shadow: none; }

/* Example 7 (different line) */
.tilter--7 .tilter__deco--overlay {
  background-image: linear-gradient(45deg, rgba(93, 203, 106, 0.48), rgba(59, 239, 255, 0.58)); }

.tilter--7 .tilter__deco--lines {
  stroke-width: 20px;
  transform: scale3d(0.9, 0.9, 1);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s; }

.tilter--7:hover .tilter__deco--lines {
  opacity: 1;
  transform: scale3d(1, 1, 1); }

.tilter--7 .tilter__figure::before {
  box-shadow: none; }

/* Example 8 (different line) */
.tilter--8 {
  perspective: none; }

.tilter--8 .tilter__figure {
  transform-style: flat; }

.tilter--8 .tilter__deco--lines {
  stroke: #9255ae;
  stroke-width: 6px;
  mix-blend-mode: color-burn; }

.tilter--8 .tilter__caption {
  color: #9255ae;
  mix-blend-mode: color-burn; }

.tilter--8 .tilter__figure::before {
  box-shadow: none; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.cd-schedule {
  /* HTML5 display-role reset for older browsers */ }
  .cd-schedule html, .cd-schedule body, .cd-schedule div, .cd-schedule span, .cd-schedule applet, .cd-schedule object, .cd-schedule iframe,
  .cd-schedule h1, .cd-schedule h2, .cd-schedule h3, .cd-schedule h4, .cd-schedule h5, .cd-schedule h6, .cd-schedule p, .cd-schedule blockquote, .cd-schedule pre,
  .cd-schedule a, .cd-schedule abbr, .cd-schedule acronym, .cd-schedule address, .cd-schedule big, .cd-schedule cite, .cd-schedule code,
  .cd-schedule del, .cd-schedule dfn, .cd-schedule em, .cd-schedule img, .cd-schedule ins, .cd-schedule kbd, .cd-schedule q, .cd-schedule s, .cd-schedule samp,
  .cd-schedule small, .cd-schedule strike, .cd-schedule strong, .cd-schedule sub, .cd-schedule sup, .cd-schedule tt, .cd-schedule var,
  .cd-schedule b, .cd-schedule u, .cd-schedule i, .cd-schedule center,
  .cd-schedule dl, .cd-schedule dt, .cd-schedule dd, .cd-schedule ol, .cd-schedule ul, .cd-schedule li,
  .cd-schedule fieldset, .cd-schedule form, .cd-schedule label, .cd-schedule legend,
  .cd-schedule table, .cd-schedule caption, .cd-schedule tbody, .cd-schedule tfoot, .cd-schedule thead, .cd-schedule tr, .cd-schedule th, .cd-schedule td,
  .cd-schedule article, .cd-schedule aside, .cd-schedule canvas, .cd-schedule details, .cd-schedule embed,
  .cd-schedule figure, .cd-schedule figcaption, .cd-schedule footer, .cd-schedule header, .cd-schedule hgroup,
  .cd-schedule menu, .cd-schedule nav, .cd-schedule output, .cd-schedule ruby, .cd-schedule section, .cd-schedule summary,
  .cd-schedule time, .cd-schedule mark, .cd-schedule audio, .cd-schedule video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  .cd-schedule article, .cd-schedule aside, .cd-schedule details, .cd-schedule figcaption, .cd-schedule figure,
  .cd-schedule footer, .cd-schedule header, .cd-schedule hgroup, .cd-schedule menu, .cd-schedule nav, .cd-schedule section, .cd-schedule main {
    display: block; }
  .cd-schedule body {
    line-height: 1; }
  .cd-schedule ol, .cd-schedule ul {
    list-style: none; }
  .cd-schedule blockquote, .cd-schedule q {
    quotes: none; }
  .cd-schedule blockquote:before, .cd-schedule blockquote:after,
  .cd-schedule q:before, .cd-schedule q:after {
    content: '';
    content: none; }
  .cd-schedule table {
    border-collapse: collapse;
    border-spacing: 0; }

/* -------------------------------- 

Primary style

-------------------------------- */
/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-schedule {
  position: relative;
  margin: 2em 0; }
  .cd-schedule::before {
    /* never visible - this is used in js to check the current MQ */
    content: 'mobile';
    display: none; }
  @media only screen and (min-width: 11px) {
    .cd-schedule {
      width: 90%;
      max-width: 550px;
      margin: 2em auto; }
      .cd-schedule::after {
        clear: both;
        content: "";
        display: block; } }
  @media only screen and (min-width: 600px) {
    .cd-schedule::before {
      content: 'desktop'; } }

.cd-schedule .timeline {
  display: none; }

.cd-schedule .events {
  position: relative;
  z-index: 1; }
  .cd-schedule .events .events-group {
    margin-bottom: 30px; }
  .cd-schedule .events .top-info {
    width: 100%;
    padding: 0 5%; }
    .cd-schedule .events .top-info > span {
      display: inline-block;
      line-height: 1.2;
      margin-bottom: 10px;
      font-weight: bold; }
  .cd-schedule .events .events-group > ul {
    position: relative;
    padding: 0 5%;
    /* force its children to stay on one line */
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch; }
    .cd-schedule .events .events-group > ul::after {
      /* never visible - used to add a right padding to .events-group > ul */
      display: inline-block;
      content: '-';
      width: 1px;
      height: 100%;
      opacity: 0;
      color: transparent; }
  .cd-schedule .events .single-event {
    /* force them to stay on one line */
    flex-shrink: 0;
    float: left;
    height: 150px;
    width: 70%;
    max-width: 300px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.2);
    margin-right: 20px;
    transition: opacity .2s, background .2s; }
    .cd-schedule .events .single-event:last-of-type {
      margin-right: 5%; }
    .cd-schedule .events .single-event a {
      display: block;
      height: 100%;
      padding: .8em; }
  @media only screen and (min-width: 10px) {
    .cd-schedule .events .single-event {
      width: 40%; } }
  @media only screen and (min-width: 11px) {
    .cd-schedule .events {
      float: left;
      width: 100%; }
      .cd-schedule .events .events-group {
        width: 100%;
        float: left;
        border: 1px solid #444;
        /* reset style */
        margin-bottom: 0; }
        .cd-schedule .events .events-group:not(:first-of-type) {
          border-left-width: 0; }
      .cd-schedule .events .top-info {
        /* vertically center its content */
        display: table;
        height: 65px;
        border-bottom: 1px solid #444;
        /* reset style */
        padding: 0; }
        .cd-schedule .events .top-info > span {
          /* vertically center inside its parent */
          display: table-cell;
          vertical-align: middle;
          padding: 0 .5em;
          text-align: center;
          /* reset style */
          font-weight: normal;
          margin-bottom: 0; }
      .cd-schedule .events .events-group > ul {
        height: 1235px;
        /* reset style */
        display: block;
        overflow: visible;
        padding: 0; }
        .cd-schedule .events .events-group > ul::after {
          clear: both;
          content: "";
          display: block; }
        .cd-schedule .events .events-group > ul::after {
          /* reset style */
          display: none; }
      .cd-schedule .events .single-event {
        position: absolute;
        z-index: 3;
        /* top position and height will be set using js */
        width: calc(100% + 2px);
        left: -1px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), inset 0 -3px 0 rgba(0, 0, 0, 0.2);
        /* reset style */
        flex-shrink: 1;
        height: auto;
        max-width: none;
        margin-right: 0; }
        .cd-schedule .events .single-event a {
          padding: 1em; }
        .cd-schedule .events .single-event:last-of-type {
          /* reset style */
          margin-right: 0; }
        .cd-schedule .events .single-event.selected-event {
          /* the .selected-event class is added when an user select the event */
          visibility: hidden; } }
  @media only screen and (min-width: 600px) {
    .cd-schedule .events .top-info {
      /* vertically center its content */
      display: table;
      height: 40px;
      border-bottom: 1px solid #444;
      /* reset style */
      padding: 0; }
      .cd-schedule .events .top-info > span {
        /* vertically center inside its parent */
        display: table-cell;
        vertical-align: middle;
        padding: 0 .5em;
        text-align: center;
        /* reset style */
        font-weight: normal;
        margin-bottom: 0; }
    .cd-schedule .events .events-group > ul {
      height: 760px;
      /* reset style */
      display: block;
      overflow: visible;
      padding: 0; }
      .cd-schedule .events .events-group > ul::after {
        clear: both;
        content: "";
        display: block; }
      .cd-schedule .events .events-group > ul::after {
        /* reset style */
        display: none; }
    .cd-schedule .events .single-event a {
      padding: 0.5em 1em; } }

.cd-schedule.loading .events .single-event {
  /* the class .loading is added by default to the .cd-schedule element
     it is removed as soon as the single events are placed in the schedule plan (using javascript) */
  opacity: 0; }

.cd-schedule .event-name,
.cd-schedule .event-date {
  color: white;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.cd-schedule .event-name {
  display: block; }
  @media only screen and (min-width: 600px) {
    .cd-schedule .event-name {
      display: inline;
      display: inline-flex;
      padding-left: 1.2em; } }

.cd-schedule .event-name.event-name-inline {
  display: inline;
  padding-left: 1em; }

.cd-schedule .event-date {
  /* they are not included in the the HTML but added using JavScript */
  opacity: .7;
  line-height: 1.2;
  margin-bottom: .2em; }

.cd-schedule .event-title {
  display: block;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  @media only screen and (min-width: 600px) {
    .cd-schedule .event-title {
      padding-left: 7.25em; } }

.cd-schedule .single-event[data-event="event-0"] {
  border-left: 1px solid #444;
  border-right: 1px solid #444; }
  .cd-schedule .single-event[data-event="event-0"] a {
    pointer-events: none; }

.cd-schedule .single-event[data-content=""] {
  pointer-events: none; }

.cd-schedule .single-event[data-event="event-0"],
.cd-schedule [data-event="event-0"] .header-bg {
  /* this is used to set a background color for the event and the modal window */
  background: black; }

.cd-schedule .single-event[data-event="event-0"]:hover {
  background: #0d0d0d; }

.cd-schedule .single-event[data-event="event-1"],
.cd-schedule [data-event="event-1"] .header-bg {
  /* this is used to set a background color for the event and the modal window */
  background: #0096AC; }

.cd-schedule .single-event[data-event="event-1"]:hover {
  background: #00acc6; }

.cd-schedule .single-event[data-event="event-2"],
.cd-schedule [data-event="event-2"] .header-bg {
  background: #A463F2; }

.cd-schedule .single-event[data-event="event-2"]:hover {
  background: #b27bf4; }

.cd-schedule .single-event[data-event="event-3"],
.cd-schedule [data-event="event-3"] .header-bg {
  background: #f7a79f; }

.cd-schedule .single-event[data-event="event-3"]:hover {
  background: #f9bcb6; }

.cd-schedule .single-event[data-event="event-4"],
.cd-schedule [data-event="event-4"] .header-bg {
  background: #0096AC; }

.cd-schedule .single-event[data-event="event-4"]:hover {
  background: #00acc6; }

.cd-schedule .event-modal {
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  /* Force Hardware acceleration */
  transform: translateZ(0);
  transform: translateX(100%);
  transition: transform .4s, visibility .4s;
  transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1); }
  .cd-schedule .event-modal .header {
    position: relative;
    height: 70px;
    /* vertically center its content */
    display: table;
    width: 100%; }
    .cd-schedule .event-modal .header .content {
      position: relative;
      z-index: 3;
      /* vertically center inside its parent */
      display: table-cell;
      vertical-align: middle;
      padding: .6em 5%; }
  .cd-schedule .event-modal .body {
    position: relative;
    width: 100%;
    /* 70px is the .header height */
    height: calc(100% - 70px); }
  .cd-schedule .event-modal .event-info {
    position: relative;
    z-index: 2;
    line-height: 1.4;
    height: 100%;
    overflow: hidden; }
    .cd-schedule .event-modal .event-info > div {
      overflow: auto;
      height: 100%;
      padding: 1.4em 5%; }
  .cd-schedule .event-modal .header-bg, .cd-schedule .event-modal .body-bg {
    /* these are the morphing backgrounds - visible on desktop only */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; }
  .cd-schedule .event-modal .body-bg {
    z-index: 1;
    background: black;
    transform-origin: top left; }
  .cd-schedule .event-modal .header-bg {
    z-index: 2;
    transform-origin: top center; }
  .cd-schedule .event-modal .close {
    /* this is the 'X' icon */
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    background: rgba(0, 0, 0, 0.1);
    /* replace text with icon */
    color: transparent;
    white-space: nowrap;
    text-indent: 100%;
    height: 70px;
    width: 70px; }
    .cd-schedule .event-modal .close::before, .cd-schedule .event-modal .close::after {
      /* these are the two lines of the 'X' icon */
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 22px;
      background: black;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    .cd-schedule .event-modal .close::before {
      transform: translateX(-50%) translateY(-50%) rotate(45deg); }
    .cd-schedule .event-modal .close::after {
      transform: translateX(-50%) translateY(-50%) rotate(-45deg); }
  .cd-schedule .event-modal .event-date {
    display: none; }
  .cd-schedule .event-modal .event-name {
    padding-left: 0; }
  .cd-schedule .event-modal.no-transition {
    transition: none; }
    .cd-schedule .event-modal.no-transition .header-bg, .cd-schedule .event-modal.no-transition .body-bg {
      transition: none; }
  @media only screen and (min-width: 600px) {
    .cd-schedule .event-modal {
      /* reset style */
      right: auto;
      width: auto;
      height: auto;
      transform: translateX(0);
      will-change: transform, width, height;
      transition: height .4s, width .4s, transform .4s, visibility .4s;
      transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1); }
      .cd-schedule .event-modal .header {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        height: 100%; }
        .cd-schedule .event-modal .header .content {
          /* reset style */
          display: block;
          padding: .8em; }
      .cd-schedule .event-modal .event-info > div {
        padding: 2em 3em 2em 2em; }
      .cd-schedule .event-modal .body {
        height: 100%;
        width: auto; }
      .cd-schedule .event-modal .header-bg, .cd-schedule .event-modal .body-bg {
        /* Force Hardware acceleration */
        transform: translateZ(0);
        will-change: transform;
        backface-visibility: hidden; }
      .cd-schedule .event-modal .header-bg {
        transition: transform .4s;
        transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1); }
      .cd-schedule .event-modal .body-bg {
        opacity: 0;
        transform: none; }
      .cd-schedule .event-modal .event-date {
        display: block; }
      .cd-schedule .event-modal .close, .cd-schedule .event-modal .event-info {
        opacity: 0; }
      .cd-schedule .event-modal .close {
        width: 40px;
        height: 40px;
        background: transparent; }
        .cd-schedule .event-modal .close::after, .cd-schedule .event-modal .close::before {
          background: #EAEAEA;
          height: 16px; } }
  @media only screen and (min-width: 600px) {
    .cd-schedule .event-modal .header .content {
      padding: 2em 1.2em; } }

.cd-schedule.modal-is-open .event-modal {
  /* .modal-is-open class is added as soon as an event is selected */
  transform: translateX(0);
  visibility: visible; }
  .cd-schedule.modal-is-open .event-modal .event-info > div {
    /* smooth scroll on iOS touch devices */
    -webkit-overflow-scrolling: touch; }

@media only screen and (min-width: 600px) {
  .cd-schedule.animation-completed .event-modal .close,
  .cd-schedule.content-loaded.animation-completed .event-modal .event-info {
    /* 	the .animation-completed class is added when the modal animation is completed
    	the .content-loaded class is added when the modal content has been loaded (using ajax) */
    opacity: 1;
    transition: opacity .2s; }

  .cd-schedule.modal-is-open .body-bg {
    opacity: 1;
    transition: transform .4s;
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1); } }
.cd-schedule .cover-layer {
  /* layer between the content and the modal window */
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s, visibility .4s; }

.cd-schedule.modal-is-open .cover-layer {
  opacity: 1;
  visibility: visible; }

/* general */
a {
  transition: all 0.1s ease; }

/* tachyons */
.grow {
  -moz-osx-font-smoothing: grayscale !important;
  backface-visibility: hidden !important;
  transform: translateZ(0) !important;
  transition: transform 0.25s ease-out !important; }

.grow:hover,
.grow:focus {
  transform: scale(1.05) !important; }

.teal {
  color: #0096AC; }

.pink {
  color: #FBD2CE !important; }

.b--teal {
  border-color: #0096AC; }

.bg-teal {
  background-color: #0096AC; }

.mw24rem {
  max-width: 24rem; }

@media (min-width: 30em) {
  .mh-7px-ns {
    margin-left: -7px;
    margin-right: -7px; } }

/* template: typography */
h1 {
  text-align: inherit !important;
  font-weight: inherit !important;
  letter-spacing: 0; }

h2 {
  text-align: inherit !important;
  font-weight: inherit !important;
  letter-spacing: 0; }

h3 {
  text-align: inherit !important;
  font-weight: inherit !important;
  letter-spacing: 0; }

blockquote p {
  color: #444; }
blockquote cite {
  color: #444; }

/* template: header */
#header {
  background-color: transparent;
  box-shadow: none; }
  #header #logo img {
    height: 2rem; }
  #header #navbar a {
    color: white; }
  #header #navbar ul.navigation li a::after, #header #navbar ul.navigation li a::before {
    background-color: white; }
  #header.scrolled {
    background-color: #9CFCCF !important; }
    #header.scrolled #navbar a, #header.scrolled #navbar span {
      color: #A463F2 !important;
      transition: all 0.25s; }
      #header.scrolled #navbar a:hover, #header.scrolled #navbar span:hover {
        color: #A463F2 !important; }

/* template: buttons */
.button, .button-secondary {
  display: inline-block;
  padding: 7px 20px; }
  .button-small.button, .button-small.button-secondary {
    padding: 3px 10px;
    font-size: 0.9rem; }

.button {
  background: none;
  color: #A463F2;
  border: 1px solid #A463F2;
  border-radius: 3px; }
  .button:hover {
    background: #A463F2;
    color: none; }
  .button:active {
    box-shadow: 0 1px 0 #832bed; }

.button-secondary {
  background: none;
  color: #0096AC;
  border: 1px solid #0096AC;
  border-radius: 3px; }
  .button-secondary:hover {
    background: #0096AC;
    color: none; }
  .button-secondary:active {
    box-shadow: 0 1px 0 #00616f; }

/* template: showcase */
.modular .showcase {
  background: none; }
  @media (max-width: 480px) {
    .modular .showcase {
      line-height: 1.4; } }
  .modular .showcase img.sensorium-arcs {
    position: absolute;
    max-width: none;
    top: 0;
    left: 50%;
    width: 1200px;
    margin-left: -600px;
    /* half the width */ }

/* Animated Logotype */
iframe.animatedLogotype {
  width: 290px;
  height: 116px; }
  @media (min-width: 480px) {
    iframe.animatedLogotype {
      width: 450px;
      height: 180px; } }
  @media (min-width: 768px) {
    iframe.animatedLogotype {
      width: 630px;
      height: 252px; } }
  @media (min-width: 960px) {
    iframe.animatedLogotype {
      width: 750px;
      height: 300px; } }

/* interactive spline loops */
#sb-site {
  transition: background-color 1s ease !important;
  background-color: transparent !important; }

#sb-site.scrolled {
  transition: background-color 1s ease;
  background-color: rgba(0, 0, 0, 0.5) !important; }

.sb-slidebar {
  background-color: transparent !important; }

#defaultCanvas0 {
  position: fixed;
  top: 0;
  z-index: 0; }

/* programme */
.sb-site-overflow-x-hidden #sb-site {
  overflow-x: hidden; }

body.no-measure section#body > .measure {
  max-width: none; }

/*# sourceMappingURL=template-customized.css.map */
