#header #logo h3, #header #navbar .panel-activation, #header #logo img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.default-animation, #body, #header, #header #logo h3, #header #navbar ul.navigation, #header #logo img {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease; }

.padding-horiz, #body, #header {
  padding-left: 7rem;
  padding-right: 7rem; }
  @media only all and (max-width: 59.938em) {
    .padding-horiz, #body, #header {
      padding-left: 4rem;
      padding-right: 4rem; } }
  @media only all and (max-width: 47.938em) {
    .padding-horiz, #body, #header {
      padding-left: 1rem;
      padding-right: 1rem; } }

.padding-vert {
  padding-top: 3rem;
  padding-bottom: 3rem; }

html, body {
  height: 100%; }

body {
  background: #000;
  color: #CDCCCB;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: #A463F2; }
  a:hover {
    color: #6e12dd; }

#container {
  min-height: 100%;
  position: relative; }

.fullwidth #body {
  padding-left: 0;
  padding-right: 0; }

#body {
  background: #000;
  padding-top: 8rem;
  padding-bottom: 11rem; }

.left {
  float: left; }

.right {
  float: right; }

.blog-header {
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .blog-header.blog-header-image {
    background-size: cover;
    background-position: center; }
    .blog-header.blog-header-image h1, .blog-header.blog-header-image h2 {
      color: #FFFFFF; }
  .blog-header h1 {
    font-size: 4rem;
    margin-top: 0; }
    @media only all and (max-width: 47.938em) {
      .blog-header h1 {
        font-size: 2.5rem;
        line-height: 1.2;
        margin-bottom: 2.5rem; } }
  .blog-header + .blog-content {
    padding-top: 3rem; }

.list-item {
  border-bottom: 1px solid #FBD2CE;
  margin-bottom: 3rem; }
  .list-item:last-child {
    border-bottom: 0; }
  .list-item .list-blog-header {
    position: relative; }
    .list-item .list-blog-header h4 {
      margin-bottom: 0.5rem; }
      .list-item .list-blog-header h4 a {
        color: #CDCCCB; }
        .list-item .list-blog-header h4 a:hover {
          color: #A463F2; }
    .list-item .list-blog-header img {
      display: block;
      margin-top: 1rem;
      border-radius: 3px; }
  .list-item .list-blog-date {
    float: right;
    text-align: center; }
    .list-item .list-blog-date span {
      display: block;
      font-size: 1.75rem;
      font-weight: 600;
      line-height: 110%; }
    .list-item .list-blog-date em {
      display: block;
      border-top: 1px solid #FBD2CE;
      font-style: normal;
      text-transform: uppercase; }

.blog-content-item .list-blog-padding > p:nth-child(2) {
  font-size: 1.2rem; }

.tags a {
  display: inline-block;
  font-size: 0.8rem;
  border: 1px solid #A463F2;
  border-radius: 3px;
  padding: 0.1rem 0.4rem;
  margin-bottom: 0.2rem;
  text-transform: uppercase; }

.archives, .related-pages {
  padding: 0;
  list-style: none; }
  .archives li, .related-pages li {
    border-bottom: 1px solid #FBD2CE;
    line-height: 2rem; }
    .archives li:last-child, .related-pages li:last-child {
      border-bottom: 0; }

.related-pages li a {
  display: block; }
.related-pages .score {
  display: block;
  float: right;
  color: #999;
  font-size: 85%; }

.syndicate a {
  margin-bottom: 1rem; }

div#breadcrumbs {
  padding-left: 0; }
  @media only all and (max-width: 47.938em) {
    div#breadcrumbs {
      display: none; } }

#sidebar {
  padding-left: 3rem; }
  @media only all and (max-width: 47.938em) {
    #sidebar {
      padding-left: 0; } }
  #sidebar .sidebar-content {
    margin-bottom: 3rem; }
    #sidebar .sidebar-content h4 {
      margin-bottom: 1rem; }
    #sidebar .sidebar-content p, #sidebar .sidebar-content ul {
      margin-top: 1rem; }

ul.pagination {
  margin: 0 0 3rem;
  text-align: center; }

.prev-next {
  margin-top: 5rem;
  text-align: center; }

#header {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0.05rem 1rem rgba(0, 0, 0, 0.15); }
  #header.scrolled {
    height: 3rem;
    background-color: rgba(158, 235, 207, 0.9) !important;
    box-shadow: 0 0.05rem 1rem rgba(0, 0, 0, 0.15) !important; }
    #header.scrolled #logo h3 {
      color: #CDCCCB !important;
      font-size: 1.6rem !important; }
    #header.scrolled #logo a, #header.scrolled #navbar span {
      color: #CDCCCB !important; }
    #header.scrolled #navbar a {
      color: #A463F2 !important; }
      #header.scrolled #navbar a:hover {
        color: #A463F2 !important; }
    #header.scrolled #navbar a:before, #header.scrolled #navbar a:after {
      background-color: #A463F2 !important; }
    #header.scrolled .navigation {
      margin-top: 0.5rem !important; }
  #header > .grid, #header #logo, #header #navbar {
    height: 100%; }
  #header #logo {
    float: left; }
    #header #logo h3 {
      font-size: 2rem;
      line-height: 2rem;
      margin: 0;
      text-transform: uppercase; }
      #header #logo h3 a {
        color: #CDCCCB; }
  #header #navbar {
    font-size: 0.9rem;
    /* Child Indicator */ }
    #header #navbar .has-children > a > span {
      display: inline-block;
      padding-right: 8px; }
      #header #navbar .has-children > a > span:after {
        font-family: FontAwesome;
        content: '\f107';
        position: absolute;
        display: inline-block;
        right: 8px;
        top: 4px; }
    #header #navbar .has-children > a:after, #header #navbar .has-children > a:before {
      display: none; }
    #header #navbar .has-children .has-children > a > span:after {
      content: '\f105'; }
    #header #navbar .navigation > .has-children:hover > a {
      background: #f6f6f6;
      border: 1px solid #ececec;
      border-bottom-color: #f6f6f6;
      margin: -1px -1px 0 -1px;
      z-index: 1000;
      position: relative;
      padding-bottom: 1px; }
    #header #navbar ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      #header #navbar ul.navigation {
        display: inline-block;
        float: right;
        margin-top: 1.4rem; }
        #header #navbar ul.navigation li {
          float: left;
          position: relative;
          /*Active dropdown nav item */
          /* Dropdown CSS */
          /* Active on Hover */ }
          #header #navbar ul.navigation li a {
            font-family: "Montserrat", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
            display: inline-block;
            padding: 0.3rem 0.8rem;
            -webkit-backface-visibility: hidden; }
            #header #navbar ul.navigation li a:before, #header #navbar ul.navigation li a:after {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              bottom: 0;
              left: 0;
              background-color: #A463F2;
              visibility: hidden;
              -webkit-transform: scaleX(0);
              -moz-transform: scaleX(0);
              -ms-transform: scaleX(0);
              -o-transform: scaleX(0);
              transform: scaleX(0);
              -webkit-transition: all 0.2s ease;
              -moz-transition: all 0.2s ease;
              transition: all 0.2s ease; }
            #header #navbar ul.navigation li a:hover:before {
              visibility: visible;
              -webkit-transform: scaleX(0.75);
              -moz-transform: scaleX(0.75);
              -ms-transform: scaleX(0.75);
              -o-transform: scaleX(0.75);
              transform: scaleX(0.75); }
            #header #navbar ul.navigation li a.active:after {
              top: 0;
              visibility: visible;
              -webkit-transform: scaleX(0.75);
              -moz-transform: scaleX(0.75);
              -ms-transform: scaleX(0.75);
              -o-transform: scaleX(0.75);
              transform: scaleX(0.75); }
          #header #navbar ul.navigation li.active a:after {
            top: 0;
            visibility: visible;
            -webkit-transform: scaleX(0.75);
            -moz-transform: scaleX(0.75);
            -ms-transform: scaleX(0.75);
            -o-transform: scaleX(0.75);
            transform: scaleX(0.75); }
          #header #navbar ul.navigation li ul {
            position: absolute;
            background-color: #f6f6f6;
            border: 1px solid #ececec;
            border-top: 0;
            min-width: 12rem;
            text-align: left;
            z-index: 999;
            left: -1px;
            display: none; }
          #header #navbar ul.navigation li ul li {
            display: block;
            float: none;
            /* Active Dropdown nav item */ }
            #header #navbar ul.navigation li ul li.active > a {
              background-color: #ececec;
              color: #A463F2; }
            #header #navbar ul.navigation li ul li:hover > a {
              background-color: #A463F2;
              color: #fff; }
            #header #navbar ul.navigation li ul li a {
              display: block;
              margin: 0 -1px; }
              #header #navbar ul.navigation li ul li a:after, #header #navbar ul.navigation li ul li a:before {
                display: none; }
          #header #navbar ul.navigation li ul ul {
            left: 100%;
            top: 0px; }
          #header #navbar ul.navigation li:hover > ul {
            display: block; }
        @media only all and (max-width: 59.938em) {
          #header #navbar ul.navigation {
            display: none; } }
    #header #navbar .panel-activation {
      padding: 1rem;
      display: none;
      font-size: 1.8rem;
      cursor: pointer;
      float: right; }
      @media only all and (max-width: 59.938em) {
        #header #navbar .panel-activation {
          display: inline-block; } }

.header-image.fullwidth #body {
  padding-left: 0;
  padding-right: 0; }
  .header-image.fullwidth #body > .listing-row {
    padding-left: 7rem;
    padding-right: 7rem; }
.header-image .listing-row:last-child {
  margin-bottom: 2rem; }
.header-image #body .flush-top {
  margin-top: -9.5rem;
  padding-top: 9rem; }
.header-image #breadcrumbs {
  margin-top: 1rem; }
.header-image #header {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: none; }
  .header-image #header .navigation .has-children:hover a {
    color: #A463F2; }
  .header-image #header #logo h3, .header-image #header #logo a {
    color: #FFFFFF; }
  .header-image #header a, .header-image #header .menu-btn {
    color: #FFFFFF; }
  .header-image #header a:before, .header-image #header a:after {
    background-color: rgba(255, 255, 255, 0.7) !important; }

/* tachyons */
.grow {
  -moz-osx-font-smoothing: grayscale !important;
  backface-visibility: hidden !important;
  transform: translateZ(0) !important;
  transition: transform 0.25s ease-out !important; }

.grow:hover,
.grow:focus {
  transform: scale(1.05) !important; }

/* template: typography */
h1 {
  text-align: inherit;
  letter-spacing: 0; }

h2 {
  letter-spacing: 0; }

h3 {
  letter-spacing: 0; }

blockquote p {
  color: #444; }
blockquote cite {
  color: #444; }

/* template: header */
#header {
  background-color: transparent;
  box-shadow: none; }
  #header #logo img {
    height: 2rem; }

/* template: buttons */
.button, .button-secondary {
  display: inline-block;
  padding: 7px 20px; }
  .button-small.button, .button-small.button-secondary {
    padding: 3px 10px;
    font-size: 0.9rem; }

.button {
  background: #0d0d0d;
  color: #A463F2;
  border: 1px solid #A463F2;
  border-radius: 3px; }
  .button:hover {
    background: #A463F2;
    color: #0d0d0d; }
  .button:active {
    box-shadow: 0 1px 0 #832bed; }

.button-secondary {
  background: #0d0d0d;
  color: #0096AC;
  border: 1px solid #0096AC;
  border-radius: 3px; }
  .button-secondary:hover {
    background: #0096AC;
    color: #0d0d0d; }
  .button-secondary:active {
    box-shadow: 0 1px 0 #00616f; }

/* Animated Logotype */
iframe.animatedLogotype {
  width: 290px;
  height: 116px; }
  @media (min-width: 480px) {
    iframe.animatedLogotype {
      width: 450px;
      height: 180px; } }
  @media (min-width: 768px) {
    iframe.animatedLogotype {
      width: 630px;
      height: 252px; } }
  @media (min-width: 960px) {
    iframe.animatedLogotype {
      width: 750px;
      height: 300px; } }

/*# sourceMappingURL=template-customized.css.map */
