.threedpic {
	background: rgb(29,143,205);
	border: 1px solid #dfe2e2;
	border-top-left-radius: 600px;
	border-top-right-radius: 600px;
	position: relative;
	background-repeat: no-repeat;

	img {
		visibility: hidden;
	}

	&--first {
		background-image: url( '../img/3DModel_1.png' );
		background-image: url( '../img/3DModel_1.png' ), linear-gradient(180deg, rgba(29,143,205,1) 0%, rgba(223,226,226,1) 100%);
		background-position: 0% 20%;
		background-size: 200%;
	}

	&--second {
		background-image: url( '../img/3DModel_2.png' );
		background-image: url( '../img/3DModel_2.png' ), linear-gradient(180deg, rgba(29,143,205,1) 0%, rgba(223,226,226,1) 100%);
		background-position: 0% 50%;
	    background-size: 110%;
	    height: 250px;

	}

	&--third {
		background-image: url( '../img/3DModel_3-min.png' );
		background-image: url( '../img/3DModel_3-min.png' ), linear-gradient(180deg, rgba(29,143,205,1) 0%, rgba(223,226,226,1) 100%);
		background-position: 100% 0%;
    	background-size: 210%;
	    border-radius: 0;
	}

	@include breakpoint( medium ) {
		&--second {
		    height: 300px;
		}
	}

	@include breakpoint( large ) {
		&--second {
		    height: 600px;
		    border-top-left-radius: 800px;
		    border-top-right-radius: 800px;
		}
	}
}