.newslist {
	&__item {
		@include xy-grid();
		margin-bottom: rem-calc( 60 );
		
		p {
			margin-bottom: 0;
		}
	}

	&__img {
		@include xy-cell( 4 );

	}

	&__content {
		@include xy-cell( 8 );

	}

	&__href {
		text-decoration: none;
		display: block;
		margin-bottom: rem-calc( 20 );

		&::hover {
			text-decoration: underline;
		}
	}

	&__date {
		text-transform: uppercase;
	}

	&__location {
		text-transform: uppercase;
	}

	&__summary {
		margin-bottom: rem-calc( 20 );
	}

}