.showcasesection {
	margin-bottom: $small-spacing-section-tiny;
	.cell {
		display: flex;
		flex-flow: column nowrap;
		justify-content: flex-end;
	}

	&--ordinary {
		.cell {
			justify-content: flex-start;
		}
	}

	&--last {
		margin-bottom: $small-spacing-section-huge;

	}

	@include breakpoint( medium ) {
		margin-bottom: $spacing-section-tiny;

		&--last {
			margin-bottom: $spacing-section-huge;
		}

		&--reverseorder {
			.cell {
				order: 2;
			}

			.cell:last-of-type {
				order: 1;
			}
		}
	}
}