.top-page-header {
	$header-top-padding: rem-calc( 10 );

	padding-top: $header-top-padding;

	.window-scrolled & {
		position: fixed;
		width: 100%;
	}

	&__inner {
		@include xy-grid-container();
		@include xy-grid();
	}

	&__claimpart {
		@include xy-cell( 5 );
	}

	&__controlspart {
		@include xy-cell( 7 );
		position: absolute;
		top: 5px;
		right: 10px;
		z-index: 14;
		margin: 0;
		display: flex;
		justify-content: flex-end;
	}

	&__whatisit {
		margin-bottom: 0;
		text-transform: uppercase;
	}

	&__fulltitle {
		display: none;

		.window-scrolled & {
			display: none;
		}
	}

	&__microtitle {
		.window-scrolled & {
			display: none;
		}
	}

	&__shorttitle {
		display: none;

		.window-scrolled & {
			display: inline;
		}
	}

	@include breakpoint( medium ) {
		$header-top-padding: rem-calc( 20 );
		padding-top: $header-top-padding;

		&__fulltitle {
			display: inline;

			.window-scrolled & {
				display: none;
			}
		}

		&__microtitle {
			display: none;
		}

		&__claimpart {
			@include xy-cell( 8 );
		}

		&__controlspart {
			@include xy-cell( 4 );
			top: $header-top-padding;
			right: rem-calc( 20 );
			margin: 0;
		}
	}
}