<div class="grid-x grid-padding-x advisors">
	<div class="medium-3 cell">
		<h2>Advisors</h2>
	</div>
	<div class="medium-9 cell grid-x grid-padding-x">
		{% for advisor in page.header.advisors %}
			<div class="medium-4 cell">
				<p>{{ advisor.name }}</p>
				<p>{{ advisor.title }}</p>
			</div>
		{% endfor %}
	</div>
</div>