<div class="grid-x grid-padding-x section programme">
	<div class="medium-3 cell">
		<h2>{{ page.title }}</h2>
		<p class="text-upper">
			{{ page.header.explanation }}
		</p>
	</div>
	<div class="medium-9 cell" data-smooth-scroll>
		<h2>Events</h2>
		
		{% set events = page.collection({
		'items':{'@taxonomy':{'event-type': 'event'}},
		'order': {'by': 'date', 'dir': 'asc'},
		'pagination': false,
		'limit': 10
		}) %}
		
		{% include 'partials/organisms/eventgrid.html.twig' %}
		
		<h2>Workshops</h2>

		{% set events = page.collection({
		'items':{'@taxonomy':{'event-type': 'workshop'}},
		'order': {'by': 'date', 'dir': 'asc'}
		}) %}

		{% include 'partials/organisms/eventgrid.html.twig' %}

		<h2>Installations</h2>
		{% set events = page.collection({
		'items':{'@taxonomy':{'event-type': 'installation'}},
		'order': {'by': 'date', 'dir': 'asc'}
		}) %}

		{% include 'partials/organisms/eventgrid.html.twig' %}
	</div>
</div>