{% set currentLang = grav.language.getLanguage %}

	<div class="grid-x grid-padding-x showcasesection main-type">
		<div class="medium-6 cell">
			<p class="show-for-medium">
				Discussions, performances, installations and experiments that will immerse you into new ideas about the future. Join our community of curious minds interested in conscious coexistence with technology.

			</p>
		</div>
		<div class="medium-6 cell">
			<div class="threedpic threedpic--first">
				<img src="{{theme_url}}/dist/assets/img/3DModel_1.png" alt="">
			</div>
		</div>
	</div>