{% set currentLang = grav.language.getLanguage %}

	<h1 class="grid-x grid-padding-x cell big-type">Sensorium</h1>

	<div class="grid-x grid-padding-x showcasesection main-type">
		<div class="medium-6 cell">
			<p class="show-for-medium">
				Discussions, performances, installations and experiments that will immerse you into new ideas about the future. Join our community of curious minds interested in conscious coexistence with technology.

			</p>
		</div>
		<div class="medium-6 cell">
			<img src="{{theme_url}}/dist/assets/img/3d-monstera-arm.png" alt="">
		</div>
	</div>
	<h1 class="grid-x grid-padding-x cell big-type">New <br>sensibility</h1>
	<div class="grid-x grid-padding-x showcasesection showcasesection--reverseorder main-type">
		<div class="cell medium-4">
			<p class="show-for-small-only"> {# same text as in previous section, just different position #}
				Discussions, performances, installations and experiments that will immerse you into new ideas about the future. Join our community of curious minds interested in conscious coexistence with technology.

			</p>
			<p>
				Can we redefine our relationship with technology, with one-another and with the current environment full of digital mysteries? How can we build awareness and confidence about the little black boxes we use every day? <br>

			</p>
			<p>
				<a href="" class="">More about the theme.</a>
			</p>
		</div>
		<div class="cell medium-8">
			<img src="{{theme_url}}/dist/assets/img/3d-heads-together.png" alt="">
		</div>
	</div>
	<h1 class="grid-x grid-padding-x cell big-type">12–14 6 2020</h1>
	<div class="grid-x grid-padding-x showcasesection showcasesection--ordinary showcasesection--reverseorder main-type">
		<div class="small-6 small-offset-6 medium-4 medium-offset-4 cell">
			<img src="{{theme_url}}/dist/assets/img/3d-man-cells.png" alt="">			
		</div>
		<div class="medium-4 cell">
			<p>
				At the two-day Sensorium conference, you can join exceptional designers, artists, innovation leaders and scientists interested in humane technologies.
			</p>
			<p>
				 Experience interactive artworks and performances by artists from around the world with your family and friends at site-specific locations in the city.
			</p>
		</div>
	</div>



{# 
<div class="relative modular-row showcase fl w-50">
    {{ content }}

	<div class="showcase__actions">
	    {% for button in page.header.buttons %}
	    	{% include 'partials/atoms/button.html.twig' with {'button': button} %}
	    {% endfor %}
	</div>
</div>
<div class="relative showcase fl w-50 festivaldate">
	<div class="festivaldate__inner">
		{% if currentLang == 'sk' %}
		<p class="festivaldate__date">
			7&ndash;9
			<span class="festivaldate__month">Júna 2019</span>
			<span class="festivaldate__place">Bratislava</span>
		</p>
		<p class="festivaldate__name">
			<br>
			Rozšírená <br>
			Myseľ
		</p>
	{% else %}
		<p class="festivaldate__date">
			7&ndash;9
			<span class="festivaldate__month">June 2019</span>
			<span class="festivaldate__place">Bratislava (SK)</span>
		</p>
		<p class="festivaldate__name">
			The <br>
			Augmented <br>
			Mind
		</p>
	{% endif %}
	</div>
</div> #}