{% set currentLang = grav.language.getLanguage %}

	<div class="grid-x grid-padding-x showcasesection main-type">
		<div class="medium-6 cell">
			<p class="show-for-medium">
				{% if currentLang == 'sk' %} 
					Diskusie, performance, inštalácie a experimenty, ktoré vás ponoria do nových myšlienok o uvedomelej budúcnosti. Staňte sa súčasťou našej komunity zvedavých hláv!
				{% else %}
					Discussions, performances, installations and experiments to immerse yourself into new ideas about a conscious future. Join our community of curious minds!
				{% endif %}
			</p>
		</div>
		<div class="medium-6 cell">
			<div class="threedpic threedpic--first">
				<img src="{{theme_url}}/dist/assets/img/3DModel_1.png" alt="">
			</div>
		</div>
	</div>