{% set currentLang = grav.language.getLanguage %}

	<div class="grid-x grid-padding-x showcasesection main-type">
		<div class="medium-6 cell">
			<p class="show-for-medium">
				{% if currentLang == 'sk' %} 
					Diskusie, performance, inštalácie a experimenty, ktoré vás ponoria do nových myšlienok o uvedomelej budúcnosti. Staňte sa súčasťou našej komunity zvedavých hláv!
				{% else %}
					Discussions, performances, installations and experiments to immerse yourself into new ideas about a conscious future. Join our community of curious minds!
				{% endif %}
			</p>
		</div>
		<div class="medium-6 cell">
			<div class="threedpic threedpic--first">
				<svg width="0" height="0" viewBox="0 0 670 813" fill="none" xmlns="http://www.w3.org/2000/svg">
					<defs>
						<clipPath id="threedpic-clip-01" clipPathUnits="objectBoundingBox">
							<path d="M0.5 0C0.211667 0 0 0.194881 0 0.490775V1H1V0.490775C1 0.195834 0.788333 0 0.5 0Z" />
						</clipPath>
					</defs>
				</svg>
				<img src="{{theme_url}}/dist/assets/img/3DModel_1.png" alt="">
			</div>
		</div>
	</div>