<h1 class="grid-x grid-padding-x cell big-type">Sensorium</h1>

<div class="grid-x grid-padding-x section">
	<div class="cell medium-6"></div>
	<div class="cell medium-6">
    	{{ content }}
	</div>
</div>