<div class="relative modular-row showcase">
    {{ content }}

    {% for button in page.header.buttons %}
    	{% include 'partials/atoms/button.html.twig' with {'button': button} %}
    {% endfor %}
</div>