<div class="relative modular-row showcase">
	<img class="sensorium-arcs" src="{{ theme_url }}/images/backgrounds/arcs.svg" alt="">
	{% if page.header.showAnimatedLogotype %}
		{% include 'partials/atoms/animatedLogotype.html.twig' %}
	{% endif %}
    {{ content }}

    {% for button in page.header.buttons %}
    	{% include 'partials/atoms/button.html.twig' with {'button': button} %}
    {% endfor %}

</div>