.animation-static {

	.animation-bg {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background-size: 100%;
		background-position: 50% 50%;
		background-repeat: no-repeat;

	}
	
	&--3 .animation-bg {
		background-image: url('../js/sk_190203_pixi/assets/Straw-1-01.png');

		@include breakpoint( mobile-only ) {
			background-size: 200%;
		}

		@include breakpoint( tablet-range ) {
			background-size: 150%;
		}
	}

	&--2 .animation-bg {
		background-image: url('../js/sk_190203_pixi/assets/Seeds-1-01.png');
		z-index: 1;
	}

	&--1 .animation-bg {
		background-image: url('../js/sk_190203_pixi/assets/icelollystick.png');
		background-position-y: -10%;
		background-size: initial;

		@include breakpoint( mobile-only ) {
			background-position-y: 80px;
			background-size: 110%;
		}

		@include breakpoint( tablet-range ) {
			background-position-y: 80px;
		}
	}

	[off-canvas*=reveal], [off-canvas*=shift] {
	    z-index: 1; // to avoid conflict with z-indexed animation bg
	}
}