html, body {
	height: 100%; // use !important to override slidebars.min.css
	font-size: 125%; //20px
	font-size: 100%;
}

body {
	background: $page-bg;
	color: $core-text;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

a {
	color: $core-accent;
	&:hover {
		color: lighten($core-accent, 10%);
	}
}


@mixin sensorium-modular-text() {
	padding-top: 3.5rem;
	padding-bottom: 4rem;
	background-color: $sensorium-block-bg;
}


// Global Container
#container {
 	min-height: 100%;
  	position: relative;
}

// Fullwidth styles
.fullwidth {
	#body {
		padding-left: 0;
		padding-right: 0;
	}
	#header, #breadcrumbs, .blog-header, .blog-content-item, .content-wrapper, ul.pagination, #body .modular-row, footer .modular-row {
		@extend .padding-horiz;
	}

	#body .modular-row {
		clear: both;
		overflow: auto;
		// margin-bottom: 2rem;
		margin-bottom: 4rem;

		// &+.modular-row {
		// 	margin: 0;
		// }

		&--text {
			float: left;
			width: 50%;
			@include sensorium-modular-text;
		}

		&--fullwidth {
			background-color: $sensorium-block-bg;
			padding: 3rem 0; 

			.modular-row {
				margin-bottom: 0;
			}

			h3 {
				@include event-main-title();
				margin-bottom: 2rem
			}
		}

		&.news {
			max-width: 75%;
		}

		& .modular-row__content {
			font-size: 1.5rem;
			padding-left: 6rem;
			
			&>p:first-of-type {
				font-size: $h4-font-size;
				line-height: $h4-line-height;
				font-weight: $core-font-weight-light!important;
				margin-top: 0;
			}
		}

		&:not(.showcase) h2:first-of-type {
			padding-left: 6rem;
		}	

	}

	footer {
		background-color: #000;
		color: #fff;
		padding-top: 3rem;
		padding-bottom: 4rem;
		
		> .modular-row:first-of-type p {
			padding-left: 2rem;
			max-width: 80%;

		}

		a {
			color: #fff;
		}
	}

	#body h2.modular-row {
		margin-bottom: 3rem;
	}

	@include breakpoint( small-mobile-range large-mobile-range ) {
		#body > .modular-row {
				width: 100%;
		}
		
	}

	@include breakpoint( tablet-range desktop-range large-desktop-range ) {
		#body > .modular-row {
			
		}

	}

}

.template-fullwidth {
	& > h1, & > h2, & > h3, & > h4, & > h5, & > h6, {
		@extend .padding-horiz;
	}
}

// Global body styling
#body {
	@extend .default-animation;
	@extend .padding-horiz;
	
	background: none;
	// padding-top: $header-height + $padding-vert;
	padding-top: $header-height;
	padding-bottom: $footer-height + $padding-vert + 2rem;
}

// Alignment
.left {
  float: left;
}

.right {
  float: right;
}

footer {
	color: $white;
}
