html, body {
	height: 100%; // use !important to override slidebars.min.css
	font-size: 125%; //20px
	font-size: 100%;
}

body {
	background: $page-bg;
	color: $core-text;
	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

a {
	color: $core-accent;
	&:hover {
		color: lighten($core-accent, 10%);
	}
}





// Global Container
#container {
 	min-height: 100%;
  	position: relative;
}

// Fullwidth styles
.fullwidth {
	#body {
		padding-left: 0;
		padding-right: 0;
	}
	#header, #breadcrumbs, .blog-header, .blog-content-item, .content-wrapper, ul.pagination, #body > .modular-row {
		@extend .padding-horiz;
	}

	#body > .modular-row {
		clear: both;
		margin-bottom: 2rem;
	}
}

.template-fullwidth {
	& > h1, & > h2, & > h3, & > h4, & > h5, & > h6, {
		@extend .padding-horiz;
	}
}

// Global body styling
#body {
	@extend .default-animation;
	@extend .padding-horiz;
	
	background: none;
	// padding-top: $header-height + $padding-vert;
	padding-top: $header-height;
	padding-bottom: $footer-height + $padding-vert + 2rem;
}

// Alignment
.left {
  float: left;
}

.right {
  float: right;
}

footer {
	color: $white;
}
