.s-page {
    position: relative;
    padding: 0 7rem;
    margin-top: 11rem;
    display: flex;
    justify-content: center;

    &__inner {
        flex: 0 0 50%;
    }

    &__header {
        position: absolute;
        left: 0;
        top: 0;
        padding-left: 7.5rem;

    }

    &__image {
        min-height: 400px;
        background-color: gray;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
    }

    &__title {
        font-size: $h2-font-size;
        font-weight: $core-font-weight-bold;
        // text-align: inherit !important;
        // letter-spacing: 0;
        line-height: $h2-line-height;
        margin-bottom: 32px;
        text-shadow: 0 0 30px #fff; //same as subtitle
    }

    h1+h2#{&}__subtitle { //needs to be stronger than h1+h2 selector
        font-weight: normal !important;
        margin-top: -1rem;
        text-shadow: 0 0 30px #fff; //same as title
    }

    @include breakpoint( mobile-only ) {
        padding: 1rem;
        margin-top: 4rem;
        overflow: hidden;
        
        &__inner {
            flex-basis: 100%;
            max-width: 100%;
        }

        &__header {
            position: relative;
            padding-left: 0;
        }
    }

    @include breakpoint( tablet-range ) {
        &__inner {
            flex-basis: 100%;
        }
    }
}