// Modular Showcase styling
.modular {

    // special case for header
    &.header-image {

        #header {
            background-color: rgba(255,255,255,0);
            box-shadow: none;

            #logo h3 {
                color: $header-text;
            }
            #navbar a {
                color: $header-text;
            }
        }
    }

    .showcase {

        @include sensorium-modular-text();

        background-size: cover;
        background-position: center;

        text-align: left;
        color: $header-text;

        margin-top: 2rem;

        @include breakpoint(tablet-range desktop-range large-desktop-range) {
            margin-top: 4rem;
        }

        @include breakpoint(tablet-range) {
            width: 100%;
        }

        h1 {
            font-size: 6rem;
            margin-top: 0;
            line-height: 5.25rem;
            font-weight: bold;

            @include breakpoint(desktop-range) {
                font-size: $h1-font-size * 0.7;
                line-height: 1.2;
            }

            @include breakpoint(tablet-range) {
                font-size: $h1-font-size * 0.7;
                line-height: 1.2;
            }
            @include breakpoint(mobile-only) {
                font-size: $h1-font-size * 0.6;
                line-height: 1.1;
                margin-bottom: 2.5rem;
            }
        }

        h2 {
            font-weight: $core-font-weight-light !important;
        }

        h3 {
            font-size: 2rem;
            line-height: 2.5rem;
            font-weight: 500;
        }

        // @include breakpoint(desktop-range large-desktop-range) {
        //     h1 {

        //     }

        // }

        @include breakpoint(large-desktop-range) {
            > * {
                padding-left: 6rem;
            }
        }

        // .button {
        //     @extend .default-animation;
        //     color: $header-text;
        //     padding: 0.7rem 2rem;
        //     margin-top: 2rem;
        //     background: rgba(255,255,255,0);
        //     border: 1px solid $header-text;
        //     border-radius: $border-radius;
        //     box-shadow: none;
        //     font-size: $core-font-size + 0.3rem;

        //     &:hover {
        //         background: rgba(255,255,255,0.2);
        //     }
        // }

        .link {
            font-weight: $core-font-weight-medium;
            border: 0.1rem solid black;
        }

        .rotated-right {
            position: absolute;

            // rotate 90 degrees and vertically aligned to Sensorium heading 1
            transform-origin: right top;
            transform: rotate(90deg) translateX(420px);
            @include breakpoint(tablet-range) {
                transform: rotate(90deg) translateX(304px);
            }
            @include breakpoint(mobile-only) {
                transform: rotate(90deg) translateX(218px);
            }

            // horizontally aligned to hamburger icon (following {...}/themes/antimatter/scss/template/_extensions.scss)
            right: 0px;
            padding-top: $padding-horiz;
            @include breakpoint(desktop-only) {
                padding-top: $padding-horiz - 3rem;
            }
            @include breakpoint(mobile-only) {
                padding-top: $padding-horiz - 6rem;
            }

            // font size
            font-size: 4rem;
            @include breakpoint(tablet-range) {
                font-size: 3rem;
            }
            @include breakpoint(mobile-only) {
                font-size: 2.2rem;
            }
            
        }
        .description {

            @include breakpoint(tablet-range) {
                // width: 50%;
            }
            @include breakpoint(desktop-range) {
                width: 100%;
            }
            @include breakpoint(large-desktop-range) {
                width: 100%;
            }
        }
    }

}
