.speakerfaces {
    display: flex;
    flex-flow: row wrap;

    &__speaker {
	    display: flex;
	    flex-flow: column nowrap;
	    justify-content: flex-end;
	    flex: 0 0 75%;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 50%;
	    padding: 36px 32px;
	    min-height: 380px;
	    color: #fff;
	    margin: 0.5rem;
        text-shadow: 0 0 30px #000;

	    &:hover {
	    	color: #000;
	    	background-color: transparent;
	    	background-image: none!important;
            text-shadow: none;
	    }
    }

    &__name {
    	font-size: $h2-font-size;
    	font-weight: $core-font-weight-bold;
    	line-height: 3.25rem;
    	word-break: break-word;
    	margin-bottom: 0.5rem;
        hyphens: manual;
    }

    &__interest {
		font-size: $h5-font-size;
		line-height: 2rem;
		margin-top: 0;
		margin-bottom: 0;
    }

    @include breakpoint( tablet-range ) {
    	&__speaker {
    		flex: 0 0 calc( 50% - 1rem );
    	}
    }

    @include breakpoint( desktop-range ) {
    	&__speaker {
    		flex: 0 0 calc( 33% - 1rem);
    	}
    }

    @include breakpoint( large-desktop-range ) {
    	&__speaker {
    		flex: 0 0 calc( 25% - 1.5rem );
    	}
    }
}
