<footer class="bg-black-80">
    <div class="bt bw2 mw9 center ph5-l cf pa3 f6">
            <div class="fl w-100 w-third-ns pa2 ph4-l">
                <p>Sensorium brings together practitioners in art, design and technology to foster new connections between people, thoughts and disciplines. By inviting international speakers and guests to Bratislava we aim to bridge ideas and encourage the meaningful application and experimental use of creative technolgy in art, design and performance in Slovakia and Central Europe.</p>
                <span>Past speakers include:</span>
                <ul class="list mt1 pa0">
                    <li><a href="https://www.field.io/" target="_blank">FIELD</a></li>
                    <li><a href="https://twitter.com/quasimondo" target="_blank">Mario Klingemann</a></li>
                    <li><a href="http://genekogan.com/" target="_blank">Gene Kogan</a></li>
                    <li><a href="http://playmodes.com/" target="_blank">Playmodes</a></li>
                    <li><a href="http://domesticstreamers.com/" target="_blank">Domestic Data Streamers</a></li>
                    <li><a href="http://mariajudova.net/" target="_blank">Mária Júdová</a></li>
                    <li><a href="http://thi.ng/" target="_blank">Karsten Schmidt</a></li>
                    <li><a href="http://domesticstreamers.com/" target="_blank">Pau Garcia (Domestic Data Streamers)</a></li>
                    <li><a href="http://www.devkid.com/" target="_blank">Jan Sicko</a></li>
                    <li><a href="http://restlessnest.org/" target="_blank">Amalia Filip</a></li>
                </ul>
            </div>
            <div class="fl w-100 w-third-ns pa2 ph4-l f5">
                <h4 class="f3">Get in touch</h4>
                <p class="mv2"><i class="fa fa-envelope w1"></i> <a href="mailto:{{'hello@sensorium.is'|safe_email}}">{{'hello@sensorium.is'|safe_email}}</a></p>
                <p class="mv2"><i class="fa fa-facebook w1"></i> <a target="_blank" href="https://www.facebook.com/sensoriumis/">Sensorium Festival</a></p>
                <p class="mv2"><i class="fa fa-twitter w1"></i> <a target="_blank" href="https://twitter.com/SensoriumIs">@SensoriumIs</a></p>
                <p class="mv2"><i class="fa fa-instagram w1"></i> <a target="_blank" href="https://www.instagram.com/sensorium.is/">sensorium.is</a></p>
                <h4 class="f3">Newsletter</h4>
                {% include 'partials/atoms/button.html.twig' with {
                    'button': {
                        'text': 'Sign up now',
                        'url': 'http://eepurl.com/cAuT-X',
                        'newTab': true,
                        'classes': 'f5 link grow ba bw1 ph3 pv2 mb2 dib white hover-white'
                    }
                }%}
            </div>
            <div class="fl w-100 w-third-ns pa2 ph4-l">
                <h4 class="f3">Sensorium is produced by</h4>
                <a class="dim" href="http://www.unfold.is/" target="_blank">
                    <img class="w4" src="{{ url('theme://images/logos/logo-unfold-white.png') }}" alt="Unfold">
                </a>
                <h4 class="f4">Webhosting provided by</h4>
                <a class="dim" href="https://www.websupport.sk/" target="_blank">
                    <img class="w5" src="{{ url('theme://images/logos/logo-websupport-white.jpg') }}" alt="WebSupport">
                </a>
                <p class="f5">
                    <i class="fa fa-link w1"></i> <a href="https://2017.sensorium.is/">Sensorium 2017</a>
                </p>
            </div>
    </div>
</footer>