<footer class="bg-dark-gray white-90">
    <div class="mw9 center ph5-l cf pa2">
            <div class="fl w-100 w-third-ns pa2">
                <h4 class="f4">Sensorium is brought to you by</h4>
                <div class="mw4">
                    {% include 'partials/atoms/logo-unfold.html.twig' with {
                        'classes': 'mw-100'
                    }%}
                </div>
            </div>
            <div class="fl w-100 w-third-ns pa2">
                <h4 class="f4">Contact</h4>
                <p><i class="fa fa-envelope w1"></i> <a href="mailto:hello@sensorium.is">hello@sensorium.is</a></p>
                <p><i class="fa fa-facebook w1"></i> <a target="_blank" href="https://www.facebook.com/sensoriumsvk">Sensorium Conference</a></p>
                <p><i class="fa fa-link w1"></i> <a target="_blank" href="http://unfold.is">unfold.is</a></p>
            </div>
            <div class="fl w-100 w-third-ns pa2">
                <h4 class="f4">Newsletter</h4>
                <p>Opening soon...</p>
            </div>

    </div>
</footer>