<div class="cd-schedule loading">
    <div class="timeline">
        <ul>
            <li><span>09:00</span></li>
            <li><span>09:30</span></li>
            <li><span>10:00</span></li>
            <li><span>10:30</span></li>
            <li><span>11:00</span></li>
            <li><span>11:30</span></li>
            <li><span>12:00</span></li>
            <li><span>12:30</span></li>
            <li><span>13:00</span></li>
            <li><span>13:30</span></li>
            <li><span>14:00</span></li>
            <li><span>14:30</span></li>
            <li><span>15:00</span></li>
            <li><span>15:30</span></li>
            <li><span>16:00</span></li>
            <li><span>16:30</span></li>
            <li><span>17:00</span></li>
            <li><span>17:30</span></li>
            <li><span>18:00</span></li>
            <li><span>18:30</span></li>
            <li><span>19:00</span></li>
            <li><span>19:30</span></li>
        </ul>
    </div> <!-- .timeline -->

    <div class="events">
        <h1 class="f1">Conference</h1>
        <h2 class="f2 mb0">Saturday 5 May</h2>
        <ul>
            <li class="events-group">
                <div class="top-info dn">Title</div>
                <ul>
                    <li class="single-event" data-start="09:15" data-end="09:45"  data-content="" data-event="event-0">
                        <a href="#0">
                            <em class="event-name">Registration</em>
                        </a>
                    </li>

                    <li class="single-event" data-start="09:45" data-end="10:00"  data-content="" data-event="event-0">
                        <a href="#0">
                            <em class="event-name event-name-inline">Opening</em>
                        </a>
                    </li>

                    <li class="single-event" data-start="10:00" data-end="10:30"  data-content="/speakers/christian-mio-loclaire" data-event="event-1">
                        <a class="event-narrow" href="#0">
                            <em class="event-name">Christian "Mio" Loclaire <span class="dn di-ns">| Waltz Binaire</span></em>
                            <span class="event-title">Rethink Digital Poetry</span>
                        </a>
                    </li>

                    <li class="single-event" data-start="10:40" data-end="11:25" data-content="/speakers/annette-mees" data-event="event-1">
                        <a href="#0">
                            <em class="event-name">Annette Mees</em>
                            <span class="event-title">Interactive Narratives</span>
                        </a>
                    </li>

                    <li class="single-event" data-start="11:35" data-end="12:20"  data-content="/speakers/joshua-noble" data-event="event-1">
                        <a href="#0">
                            <em class="event-name">Joshua Noble</em>
                            <span class="event-title">Designing Less Real</span>
                        </a>
                    </li>

                    <li class="single-event" data-start="12:30" data-end="13:15"  data-content="/speakers/jessica-in" data-event="event-1">
                        <a href="#0">
                            <em class="event-name">Jessica In</em>
                            <span class="event-title">Interactive Architecture</span>
                        </a>
                    </li>

                    <li class="single-event" data-start="13:15" data-end="14:00"  data-content="" data-event="event-0">
                        <a href="#0">
                            <em class="event-name">Lunch Break</em>
                        </a>
                    </li>

                    <li class="single-event" data-start="14:00" data-end="14:45" data-content="/speakers/alexander-scholz" data-event="event-1">
                        <a href="#0">
                            <em class="event-name event-name-inline">Panel Discussion</em>
                            <span class="event-title">Ján Šicko, Jessica In, Joshua Noble, moderated by Alexander Scholz</span>
                        </a>
                    </li>

                    <li class="single-event" data-start="14:55" data-end="15:40"  data-content="/speakers/andrej-boleslavsky" data-event="event-1">
                        <a href="#0">
                            <em class="event-name">Andrej Boleslavsky</em>
                            <span class="event-title">Mixing Reality</span>
                        </a>
                    </li>

                    <li class="single-event" data-start="15:50" data-end="16:35"  data-content="/speakers/jan-nikolai-nelles" data-event="event-1">
                        <a href="#0">
                            <em class="event-name">Jan Nikolai Nelles</em>
                            <span class="event-title">The Other Nefertiti</span>
                        </a>
                    </li>

                    <li class="single-event" data-start="16:45" data-end="17:15"  data-content="/speakers/gabey-tjon-a-tham" data-event="event-1">
                        <a class="event-narrow" href="#0">
                            <em class="event-name event-name-inline">Artist Discussion</em>
                            <span class="event-title">Inken Bornholdt &amp; Gabey Tjon A Tham</span>
                        </a>
                    </li>
                    
                    <li class="single-event" data-start="17:25" data-end="18:10"  data-content="/speakers/joachim-sauter" data-event="event-1">
                        <a href="#0">
                            <em class="event-name">Joachim Sauter | ART+COM</em>
                            <span class="event-title">New Media Spaces</span>
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
    </div>

    <div class="event-modal">
        <header class="header">
            <div class="content">
                <span class="event-date"></span>
                <h2 class="event-name f2 mv0 lh-title"></h2>
            </div>

            <div class="header-bg"></div>
        </header>

        <div class="body">
            <div class="event-info"></div>
            <div class="body-bg"></div>
        </div>

        <a href="#0" class="close">Close</a>
    </div>

    <div class="cover-layer"></div>
</div> <!-- .cd-schedule -->
{# <script src="js/modernizr.js"></script> #}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script>
    if( !window.jQuery ) document.write('<script src="js/jquery-3.0.0.min.js"><\/script>');
</script>
<script src="{{ theme_url }}/js/schedule-template.js"></script> <!-- Resource jQuery -->