<li class="cd-schedule__group">
	<div class="cd-schedule__top-info"><span><p class="s-location">{{location.name}}</p></span></div>
	<ul>
		{% for item in location.items %}
			{% include 'partials/organisms/schedule-item.html.twig' %}
		{% endfor %}
	</ul>
</li>