// Load Third Party Libraries
@import "vendor/bourbon/bourbon";

// Load Nucleus Mixins and Functions
@import "../../antimatter/scss/nucleus/functions/base";
@import "../../antimatter/scss/nucleus/mixins/base";

// Load theme config
@import "configuration/nucleus/_base.scss";
@import "configuration/template/_base.scss";

// Load Template Helpers
@import "../../antimatter/scss/template/extensions";

// Load cutomized template components
@import "template-customized/core";
@import "template-customized/blog";
@import "template-customized/showcase";
@import "template-customized/header";
@import "template-customized/typography";

// Load Vendor Components
@import "vendor/schedule-template/reset.scss";
@import "vendor/schedule-template/schedule-template.scss";

//Load custom components
@import "template-customized/speakerfaces";

/* general */
a {
  transition: all 0.1s ease;
}

/* tachyons */
$medium-start: 30em;
$large-start: 60em;

@mixin not-small {
  @media (min-width: #{$medium-start}) {
    @content;
  }
}

@mixin medium {
  @media (min-width: #{$medium-width}) and (max-width: #{$large-start - 1px}) {
    @content;
  }
}

@mixin large {
  @media (min-width: #{$large-start}) {
    @content;
  }
}

.grow {
  -moz-osx-font-smoothing: grayscale !important;
  backface-visibility: hidden !important;
  transform: translateZ(0) !important;
  transition: transform 0.25s ease-out !important;
}

.grow:hover,
.grow:focus {
  transform: scale(1.05) !important;
}

.teal {
  color: $sensorium-teal;
}
.pink {
  color: $sensorium-pink !important;
}
.b--teal {
  border-color: $sensorium-teal;
}
.bg-teal {
  background-color: $sensorium-teal;
}
.bg-light-gray {
  background-color: $light-gray !important;
}
.bg-dark-gray {
  background-color: $dark-gray !important;
}
.mw24rem {
  max-width: 24rem;
}
.mh-7px-ns {
  @include not-small {
    margin-left: -7px;
    margin-right: -7px;
  }
}
.mh-2-ns {
  @include not-small {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
}
.mh-1-ns {
  @include not-small {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
  }
}
.mt-1 {
  margin-top: -.125rem;
}
.f4rem {
  font-size: 4rem;
}
.break-word {
  overflow-wrap: break-word;
}


/* template: typography */
// Body Base
h1 {
  font-size: $h1-font-size;
  text-align: inherit !important;
  // font-weight: inherit !important;
  letter-spacing: 0;
}
h2 {
  font-size: $h2-font-size;
  font-weight: $core-font-weight-bold !important;
  text-align: inherit !important;
  letter-spacing: 0;
  line-height: $h2-line-height;
  margin-bottom: 48px;
}
h3 {
  font-size: $h3-font-size;
  text-align: inherit !important;
  // font-weight: inherit !important;
  letter-spacing: 0;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-header;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  letter-spacing: -0px;
}

h1 {
  font-size: $h1-font-size;
    @include breakpoint(mobile-only) {
        font-size: 2.5rem;
        line-height: 1.2;
        margin-bottom: 2.5rem;
    }
}

h2 {
  @include breakpoint(tablet-range) {
    font-size: $h2-font-size - .40;
  }
  @include breakpoint(mobile-only) {
    font-size: $h2-font-size - .50;
  }
}

h3 {
  @include breakpoint(tablet-range) {
    font-size: $h3-font-size - .40;
  }
  @include breakpoint(mobile-only) {
    font-size: $h3-font-size - .50;
  }
}

h4 {
  @include breakpoint(tablet-range) {
    font-size: $h4-font-size - .40;
  }
  @include breakpoint(mobile-only) {
    font-size: $h4-font-size - .50;
  }
}

// h1 {
//   text-align: center;
//   letter-spacing: -3px;
// }

// h2 {
//   letter-spacing: -2px;
// }

// h3 {
//   letter-spacing: -1px;
// }

// h1 + h2 {
//   margin: -2rem 0 2rem 0;
//   font-size: 2rem;
//   @include breakpoint(tablet-range) {
//     font-size: 1.6rem;
//   }
//   @include breakpoint(mobile-only) {
//     font-size: 1.5rem;
//   }
//   line-height: 1;
//   text-align: center;
//   font-family: $font-family-default;
//   font-weight: 300;
// }

// h2 + h3 {
//   margin: 0.5rem 0 2rem 0;
//   font-size: 2rem;
//   @include breakpoint(tablet-range) {
//     font-size: 1.6rem;
//   }
//   @include breakpoint(mobile-only) {
//     font-size: 1.5rem;
//   }
//   line-height: 1;
//   text-align: center;
//   font-family: $font-family-default;
//   font-weight: 300;
// }

// Blockquote
blockquote {
  p {
    color: #444;
  }
  cite {
    color: #444;
  }
}

/* template: header */
#header {
  background-color: transparent;
  box-shadow: none;
	#logo {
		img {
			@extend .default-animation;
			@extend %vertical-align;
		    height: 2rem;
		}
	}
  #navbar a {
      color: white;
  }
  #navbar ul.navigation li a::after, #navbar ul.navigation li a::before {
      background-color: white;
  }

  // scroll based changes
  &.scrolled {
    background-color: $navbar-bg !important;
    #navbar a, #navbar span {
      color: $navbar-text !important;
      transition: all 0.25s;
      &:hover {
        color: $navbar-text !important;
      }
    }
  }
}
/* template: buttons */
%button {
  display: inline-block;
  padding: 7px 20px;

    &.button-small {
        padding: 3px 10px;
        font-size: $core-font-size - 0.1rem;
    }

}

@mixin button-color($color) {
  // background: $white;
  background: none; //lighten($page-bg, 5%);
  color: $color;
  border: 1px solid $color;
  border-radius: 3px;
  &:hover {
    background: $color;
    color: none; //lighten($page-bg, 5%);
  }
  &:active {
    box-shadow: 0 1px 0 darken($color, 12%);
  }
}

.button {
  @extend %button;
  @include button-color($core-accent);
}

.button-secondary {
  @extend %button;
  @include button-color($secondary-link);
}

/* template: showcase */
.modular {
  .showcase {
    @media (max-width: 480px) {
      line-height: 1.2;
    }
    img.sensorium-arcs {
      position: absolute;
      max-width: none;
      top: 0;
      left: 50%;
      width: 1200px;
      margin-left: -600px; /* half the width */
    }
  }
}

/* Animated Logotype */
iframe.animatedLogotype {
    width: 290px;
    height: 116px;
    @media (min-width: 480px) {
      width: 450px;
      height: 180px;
    }
    @media (min-width: 768px) {
      width: 630px;
      height: 252px;
    }
    @media (min-width: 960px) {
      width: 750px;
      height: 300px;
    }
}

/* interactive spline loops */
#sb-site {
  transition: background-color 1s ease !important;
  background-color: rgba(0,0,0,0) !important;
}
#sb-site.scrolled {
  transition: background-color 1s ease;
  background-color: rgba(0,0,0,0.5) !important;
}

.sb-slidebar {
  background-color: transparent !important;
}

#defaultCanvas0 {
  position: fixed;
  top: 0;
  z-index: 0;
}

/* programme */
// prevent schedule event-modal to extend width of #sb-site
.sb-site-overflow-x-hidden #sb-site {
  overflow-x: hidden !important;
}
body.no-measure section#body > .measure {
  max-width: none;
}
.bgi-radialgrad {
  background-image: radial-gradient(at 100% 100%, transparent 20%, white 80%);
}

/* lab page */
body.hide-menu #header #navbar ul.navigation {
  display: none;
}