// Load Third Party Libraries
@import "vendor/bourbon/bourbon";

// Load Nucleus Mixins and Functions
@import "../../antimatter/scss/nucleus/functions/base";
@import "../../antimatter/scss/nucleus/mixins/base";

// Load theme config
@import "configuration/nucleus/_base.scss";
@import "configuration/template/_base.scss";

// Load Template Helpers
@import "../../antimatter/scss/template/extensions";

// Load cutomized template components
@import "template-customized/core";
@import "template-customized/blog";

// Load Vendor Components
@import "vendor/tilt-hover-effects.scss";

/* tachyons */
.grow {
  -moz-osx-font-smoothing: grayscale !important;
  backface-visibility: hidden !important;
  transform: translateZ(0) !important;
  transition: transform 0.25s ease-out !important;
}

.grow:hover,
.grow:focus {
  transform: scale(1.05) !important;
}

/* template: typography */
// Body Base
html, body, button, input, select, textarea, .pure-g, .pure-g [class *= "pure-u"] {
  font-weight: 800;
}
h1 {
	text-align: inherit !important;
	letter-spacing: 0;
}

h2 {
  text-align: inherit !important;
	letter-spacing: 0;
}

h3 {
  text-align: inherit !important;
	letter-spacing: 0;
}

// Blockquote
blockquote {
  p {
    color: #444;
  }
  cite {
    color: #444;
  }
}

/* template: header */
#header {
  background-color: transparent;
  box-shadow: none;
	#logo {
		img {
			@extend .default-animation;
			@extend %vertical-align;
		    height: 2rem;
		}
	}
  // scroll based changes
  &.scrolled {
    background-color: rgba($light-green,0.90) !important;
    #navbar a {
      color: $core-accent !important;
      &:hover {
        color: $core-accent !important;
      }
    }
  }
}
/* template: buttons */
%button {
  display: inline-block;
  padding: 7px 20px;

    &.button-small {
        padding: 3px 10px;
        font-size: $core-font-size - 0.1rem;
    }

}

@mixin button-color($color) {
  // background: $white;
  background: none; //lighten($page-bg, 5%);
  color: $color;
  border: 1px solid $color;
  border-radius: 3px;
  &:hover {
    background: $color;
    color: none; //lighten($page-bg, 5%);
  }
  &:active {
    box-shadow: 0 1px 0 darken($color, 12%);
  }
}

.button {
  @extend %button;
  @include button-color($core-accent);
}

.button-secondary {
  @extend %button;
  @include button-color($secondary-link);
}

/* template: showcase */
.modular {
  .showcase {
    @media (max-width: 480px) {
      line-height: 1.4;
    }
    background: none;
    img.sensorium-arcs {
      position: absolute;
      max-width: none;
      top: 0;
      left: 50%;
      width: 1200px;
      margin-left: -600px; /* half the width */
    }
  }
}

/* Animated Logotype */
iframe.animatedLogotype {
    width: 290px;
    height: 116px;
    @media (min-width: 480px) {
      width: 450px;
      height: 180px;
    }
    @media (min-width: 768px) {
      width: 630px;
      height: 252px;
    }
    @media (min-width: 960px) {
      width: 750px;
      height: 300px;
    }
}

/* interactive spline loops */
#sb-site {
  background: none !important;
}
#defaultCanvas0 {
  position: fixed;
  top: 0;
  z-index: 0;
}